{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Author Box and Posts --}}
<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3 text-center">

<h1 class="post-title text-center">Hello, this is Swifty..!</h1>
<br />
<img class="userimg img-circle" src="{{@blog.url}}/assets/swifty-home.png" alt="{{@blog.title}}"/>
<br />
<br />

<div class="home-author">
<p><b>Open <mark>index.hbs</mark> file Find this line <mark>Author Box and Posts</mark> Replace Author image with your Image Best size 250x250 and replace this texts and social link with your info and social profile links<b></p>
</div>

<ul class="list-inline text-center">
<li>
<a href="#" target="_blank">
<span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
</a>
</li>
<li>
<a href="#" target="_blank">
<span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
</a>
</li>
<li>
<a href="#" target="_blank">
<span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-feed fa-stack-1x fa-inverse"></i>
</span>
</a>
</li>
</ul>

<br />

<div class="panel panel-default">
<div class="panel-heading panel-heading-custom">
<h2 class="section-heading">Blog Posts</h2>
</div>
<div class="panel-body">
{{#foreach posts}}
<article class="{{post_class}}">
<ul class="list-group">
<li class="list-group-item"><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format='Do MMMM YYYY'}}</time> | {{#author}}<span class="post-author"><a href="{{url}}" rel="author">{{name}}</a></span>{{/author}}
<h2 class="post-home"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
</li>
</ul>
</article>
{{/foreach}}

{{pagination}}

</div>
</div>
</div>
</div> 
</div> <!-- /.container -->
